.carImgContainer {
    margin: auto;
    display: block;
    position: relative;




    /* transform: scale(1.2); */
}

@keyframes driveIn {
    from {
        height: 90%;
        width: 40%;
        right: 50%;
        transform: scale(0.6);
        /* Initial transform state */
    }

    to {
        height: 359px;
        width: 70%;
        transform: scale(1);
        /* Final transform state */
    }
}

.carImgContainer img {
    display: block;
    position: relative;
    right: 15%;
    transform: scale(0.6);
    height: 90%;
    width: 50%;

    animation: driveIn 1s ease-out forwards;
}